*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}

.main-content{
    max-width: 900px; 
    margin: 0 auto;
}

.apply-box{
    max-width: 60%;
    height: 50%;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px;
    border-radius: 10px;
}

.title_small{
    font-size: 20px;
}

.form-container{
    margin-top: 20px;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

.form-control{
    display: flex;
    flex-direction: column;
    
}

label{
    font-size: 20px;
    margin-bottom: 4px;
}

input,
select,
textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

input:focus{
    outline-color: red;
    outline-style: dotted;
}

.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;

}

button{
    background-color: red;
    border-radius: 10px;
    border: transparent solid 2px;
    color: #fff;
    padding: 5px 10px;
    transition: 0.3s ease-in;

}

button:hover{
    color: yellow;
    transform: scale(1.2);
    transition: 0.3s ease-out;
    background-color: aqua;

}

@media (max-width:480px){
    .form-control{
        margin-top: 15px;
    }
}
