*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    color: crimson;
}

h1{
    text-align: center;
    margin-top: 10rem;
}

p{
    text-align: center;
    margin-top: 1rem;

}